<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control Administrador
    </div>
    <div class="card-body">
        <div>
            <button class="botonAdmin" [routerLink]="[ '/clientes']">Mantener información cliente</button>
            <button class="botonAdmin" [routerLink]="[ '/profesionales']">Mantener información profesional</button>
        </div>
        <div>
            <button class="botonAdmin">Generar reporte cliente</button>
            <button class="botonAdmin">Generar reporte global</button>
        </div>
        <div>
            <button class="botonAdmin">Controlar pago cliente</button>
            <button class="botonAdmin">Calcular accidentabilidad</button>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary" [routerLink]="[ '/home']">Volver</button>
    </div>
</div>