<br>
<div class="card border-primary mb-3">
    <div class="card-header">Profesionales</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Reporte de clientes</h5>
        <form action="/action_page.php">
            <div class="col-mb-4">
                <label class="text-secondary" for="Clientes">Elija un cliente:</label>
            </div>
            <select name="visita" id="visita">
                <option value="id cliente">Cliente1</option>
                <option value="id cliente">Cliente2</option>
                <option value="id cliente">Cliente3</option>
            </select>
            <input type="submit" value="Submit">
            <br><br>

        </form>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>NOMBRE DE USUARIO</th>
                    <th>VISITAS</th>
                    <th>ASESORIAS</th>
                    <th>CAPACITACIONES</th>
                    <th>ACCIDENTES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reportecliente of reporteCliente">
                    <td>{{ reportecliente.REP_CLI_ID }}</td>
                    <td>{{ reportecliente.REP_ID_CLI }}</td>
                    <td>{{ reportecliente.REP_FECHA }}</td>
                    <td>{{ reportecliente.REP_VISITAS }}</td>
                    <td>{{ reportecliente.REP_ASESORIAS}}</td>
                    <td>{{ reportecliente.REP_PROPUESTAS}}</td>
                    <td>{{ reportecliente.REP_ACCIDENTES}}</td>
                    <td>{{ reportecliente.REP_PROFESIONAL}}</td>
                    <td>{{ reportecliente.REP_CAPACITACIONES}}</td>

                    <TD>
                        <BUTTON class="botonCrear" style="margin-left: 5px;"> Asignar </BUTTON>
                    </TD>

                    <TD>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/profesionales/form-prof', Profesional.id_profesional]"> Editar </BUTTON>
                    </TD>
                    <TD>
                        <BUTTON class="botonEliminar" name="eliminar" (click)='delete(Profesional)'> Eliminar </BUTTON>
                    </TD>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-success" [routerLink]="['/admin']">volver</button>
    </div>
</div>