<br>
<div class="card border-warning mb-3">
    <div class="card-header">Profesionales</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Reporte de clientes</h5>
        <form action="/action_page.php">
            <div class="col-mb-4">
                <label class="text-primary" for="Clientes">Elija un cliente:</label>
            </div>
            <div class="input-group">
                <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="fomr-control" name="visita" id="visita">
                    <option *ngFor="let cli of clientes" value="{{cli.USR_IDPERFIL}}">{{cli.USR_NOMBRECOMPLETO}}</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" (click)="generarReporte(verSeleccion)" > Generar Reporte </button>
                </div>  
            </div>
            <p [hidden]="opcionSeleccionado == '0'">Haz seleccionado la opción # {{ verSeleccion }}</p>


        </form>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID_REPOTE</th>
                    <th>ID_CLIENTE</th>
                    <th>FECHA</th>
                    <th>VISITAS</th>
                    <th>ASESORIAS</th>
                    <th>ACCIDENTES</th>
                    <th>PROFESIONAL</th>
                    <th>CAPACITACIONES</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reportecliente of reporteCliente">
                    <td>{{ reportecliente.REP_CLI_ID }}</td>
                    <td>{{ reportecliente.REP_ID_CLI }}</td>
                    <td>{{ reportecliente.REP_FECHA }}</td>
                    <td>{{ reportecliente.REP_VISITAS }}</td>
                    <td>{{ reportecliente.REP_ASESORIAS}}</td>
                    <td>{{ reportecliente.REP_ACCIDENTES}}</td>
                    <td>{{ reportecliente.REP_PROFESIONAL}}</td>
                    <td>{{ reportecliente.REP_CAPACITACIONES}}</td>

                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-secondary" [routerLink]="['/admin']">volver</button>
    </div>
</div>