<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control Profesional
        <h4><small><strong>Bienvenido {{ usuario }}</strong></small></h4>
    </div>
    <div class="card-body">
        
        <div>
            
            <button class="botonAdmin btn btn-success" [routerLink]="['/revisarcliente']" >Revisar cliente</button>
            <button class="botonAdmin btn btn-success" [routerLink]="['/planificarvisita']">Planificar visita</button>
            
        </div>
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="['/ingresarmejora']" >Ingresar propuesta de mejora</button>
            <button class="botonAdmin btn btn-success" [routerLink]="['/revisarmejora']" >Revisar propuesta de mejora</button>
            
            
        </div>
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="['/verasesorias']">Crear asesorias</button>
        <button class="botonAdmin btn btn-success" [routerLink]="['/vercapacitaciones']">Crear capacitación</button>
          
        </div>
        
        <button class="botonAdmin  btn btn-success" [routerLink]="['/crearchecklist']" >Crear checkList</button>
    </div>
    <div class="card-footer text-center">
        <button class="botonEliminar" (click)="logout()" >Salir</button>
    </div>
</div>