<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control Profesional
        <h4><small><strong>Bienvenido {{ usuario }}</strong></small></h4>
    </div>
    <div class="card-body">
        
        <div>
            
            <button class="botonAdmin btn btn-warning" [routerLink]="['/revisarcliente']" >Revisar cliente</button>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/planificarvisita']">Planificar visita</button>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/crearcapacitacion']">Crear capacitación</button>
        </div>
        <div>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/ingresarmejora']" >Ingresar propuesta de mejora</button>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/revisarmejora']" >Revisar propuesta de mejora</button>
        </div>
        <div>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/crearchecklist']" >Crear checkList</button>
            <button class="botonAdmin btn btn-warning" [routerLink]="['/responderchecklist']" >Responder checkList</button>
        </div>
        <button class="botonAdmin btn btn-warning" [routerLink]="['/verasesorias']">Ingresar asesorias</button>
        <button class="botonAdmin btn btn-warning" [routerLink]="['/verasesorias']">Crear caso asesoría</button>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-secondary" (click)="logout()" >Salir</button>
    </div>
</div>