<br>
<div class="card border-warning mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Lista de Asesorias</h5>
        <div class="my-2 text-left">

            <div class="form-group col-sm-4">
                <label for="" class=" text-primary">Seleccione Cliente</label>
                <select class="form-control" name="clientes" >
                    <option *ngFor="let ase of asesoria" >{{ase.CLI_RAZONSOCIAL}}</option>
                </select>
            </div> 

        </div>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr >
                    <th>ID ASESORIA</th>
                    <th>CANTIDAD DE ASESORIAS</th>
                    <th>ASESORIAS DISPONIBLES</th>
                    <th>TIPO DEASESORIA</th>
                    <th>CLIENTE</th>
                    <th>PROFESIONAL</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ase of asesoria">
                    <td>{{ase.ASE_ID}}</td>
                    <td>{{ase.ASE_CANTIDAD}}</td>
                    <td>{{ase.ASE_DISP}}</td>
                    <td>{{ase.ASE_TIPOP}}</td>
                    <td>{{ase.CLI_RAZONSOCIAL}}</td>
                    <td>{{ase.PRO_NOMBRE}} {{ase.PRO_APELLIDO}}</td>
                    <td>{{ase.ASE_FECHA}}</td>

                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-secondary" [routerLink]="['/administrador']">volver</button>
    </div>
</div>