<br>
<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de Asesorias</h5>
        <div class="my-2 text-left">

            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span for="rut_cliente" class="input-group-text">Rut cliente</span>
                </div>
                <input type="text" class="form-control" name="rut_cliente">
            </div>

        </div>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID ASESORIA</th>
                    <th>CANTIDAD DE ASESORIAS</th>
                    <th>ASESORIAS DISPONIBLES</th>
                    <th>TIPO DEASESORIA</th>
                    <th>CLIENTE</th>
                    <th>PROFESIONAL</th>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>

                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-success" [routerLink]="['/administrador']">volver</button>
    </div>
</div>