<br>
<div class="card border-warning mb-3">
    <div class="card-header">PROFESIONAL</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Solicitudes de asesorias</h5>
        

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr class="text-center">
                    <th>ID ASESORIA</th>
                    <th>TIPO DE ASESORIA</th>
                    <th>CLIENTE</th>
                    <th>DESCRIPCION</th>
                    <th>ESTADO</th>
                    <th>FECHA</th>
                    <th colspan="2" >CONTROLES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ase of solicitud">
                    <td>{{ase.SOL_ID}}                    </td>
                    <td>{{ase.SOL_TIPO}}</td>
                    <td>{{ase.CLI_RAZONSOCIAL}}</td>
                    <td>{{ase.SOL_DESCRIPCION}}</td>
                    <td>{{ase.SOL_ESTADO}}</td>
                    <td>{{ase.SOL_FECHA | date: 'dd-MM-yyyy'}}</td>
                    <td>
                        <BUTTON class="botonCrear" style="margin-left: 5px;" [disabled]="ase.SOL_ESTADO == 'aprobado'" (click)="aprobar(ase)"> Aprobar </BUTTON>
                    </td>

                    <td>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" [disabled]="ase.SOL_ESTADO == 'rechazado'" (click)="rechazar(ase.SOL_ID,ase)"> Rechazar </BUTTON>
                    </td>
                </tr>
            </tbody>
        </table>
        <label class="h4">Listado de asesorias: </label>
        <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/listarasesorias']"> Ver </BUTTON>

    </div>
        <div class="card-footer text-center">
            <button class="botonCrear btn-success" [routerLink]="['/administrador']">volver</button>
        </div>
    
</div>