<br>
<div class="card border-primary mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de clientes</h5>
        

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID_CLIENTE</th>
                    <th>RUT_CLIENTE</th>
                    <th>RAZON_SOCIAL</th>
                    <th>TIPO_CONTRATO</th>
                    <th>STATUS_CLIENTE</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr **ngFor="let cli of Cliente" >
                    <td>{{ cli.CLI_ID }}</td>
                    <td>{{ cli.CLI_RUT }}</td>
                    <td>{{ cli.CLI_RAZONSOCIAL }}</td>
                    <td>{{ cli.PLANES_PLA_IDPLAN }}</td>
                    <td>{{ cli.CLI_STATUS }}</td>

                    <TD>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/clientes/form', cliente.id_cliente]"> Editar </BUTTON>
                    </TD>
                    <TD>
                        <BUTTON class="botonEliminar" name="eliminar" (click)='delete(cliente)'> Eliminar </BUTTON>
                    </TD>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" [routerLink]="['/prof']">Volver</button>
    </div>
</div>