<br>
<div class="card border-warning mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Lista de clientes</h5>
        

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID_CLIENTE</th>
                    <th>RUT_CLIENTE</th>
                    <th>RAZON_SOCIAL</th>
                    <th>TIPO_CONTRATO</th>
                    <th>STATUS_CLIENTE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cli of cliente" >
                    <td>{{ cli.CLI_ID }}</td>
                    <td>{{ cli.CLI_RUT }}</td>
                    <td>{{ cli.CLI_RAZONSOCIAL }}</td>
                    <td>{{ cli.PLANES_PLA_IDPLAN }}</td>
                    <td>{{ cli.CLI_STATUS }}</td>

                    
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary" [routerLink]="['/prof']">Volver</button>
    </div>
</div>