<br>
<div class="card border-warning mb-3">
    <div class="card-header">Profesionales</div>
    <div class="card-body text-Dark">
        <div>
            <h5 class="card-title">Reporte Global</h5>
            <button type="button" class="botonCrear btn-success" (click)="generarReporte()">Generar Reporte</button>
        </div>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>VISITAS</th>
                    <th>ASESORIAS</th>
                    <th>CAPACITACIONES</th>
                    <th>ACCIDENTES</th>
                    <th>PROFESIONALES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reporteglobal of reporteglobal">
                    <td>{{ reporteglobal.REP_ID }}</td>
                    <td>{{ reporteglobal.REP_FECHA }}</td>
                    <td>{{ reporteglobal.REP_VISITAS }}</td>
                    <td>{{ reporteglobal.REP_ASESORIAS }}</td>
                    <td>{{ reporteglobal.REP_ACCIDENTES}}</td>
                    <td>{{ reporteglobal.REP_CAPACITACIONES}}</td>
                    <td>{{ reporteglobal.REP_PROFESIONALES}}</td>
                   
                </tr>
            </tbody>
        </table>
        <div class=" text-center">
        <button class="botonCrear btn-success" [routerLink]="['/admin']">volver</button>
    </div>
    </div>
</div> 