<!--             <br>
            <div class="card border-primary mb-3">
                <div class="card-header">Profesionales</div>
                <div class="card-body text-primary">
                    <h5 class="card-title">Reporte Global</h5>

                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>FECHA</th>
                                <th>VISITAS</th>
                                <th>ASESORIAS</th>
                                <th>CAPACITACIONES</th>
                                <th>ACCIDENTES</th>
                                <th>PROFESIONALES</th>
                                <th>CLIENTES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let reporteglobal of reporteglobal">
                                <td>{{ reporteglobal.REP_ID }}</td>
                                <td>{{ reporteglobal.REP_FECHA }}</td>
                                <td>{{ reporteglobal.REP_VISITAS }}</td>
                                <td>{{ reporteglobal.REP_ASESORIAS }}</td>
                                <td>{{ reporteglobal.REP_ACCIDENTES}}</td>
                                <td>{{ reporteglobal.REP_CAPACITACIONES}}</td>
                                <td>{{ reporteglobal.REP_PROFESIONALALES}}</td>
                                <TD>
                                    <BUTTON class="botonCrear" style="margin-left: 5px;"> Asignar </BUTTON>
                                </TD>

                                <TD>
                                    <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/profesionales/form-prof', Profesional.id_profesional]"> Editar </BUTTON>
                                </TD>
                                <TD>
                                    <BUTTON class="botonEliminar" name="eliminar" (click)='delete(Profesional)'> Eliminar </BUTTON>
                                </TD>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-outline-success" [routerLink]="['/admin']">volver</button>
                </div>
            </div> -->