<br>
<div class="card text-center">
    <div class="card-header">
        REVISAR MEJORA
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th>CLIENTE</th>
                                <th>DESCRIPCION</th>
                                <th>ESTADO</th>
                                <th>RESPUESTA</th>
                                <th>APROBAR</th>
                                <th>RECHAZAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mej of mejoras" >
                                <td>{{mej.CLI_RAZONSOCIAL}}</td>
                                <td>{{mej.MEJ_DESCRIPCION}}</td>
                                <td>{{mej.MEJ_ESTADO}}</td>
                                <td>{{mej.MEJ_RESP_CLI}}</td>
            
                                <TD>
                                    <BUTTON class="btn btn-success" style="margin-left: 5px;" [disabled]="mej.MEJ_ESTADO == 'aprobada' || mej.MEJ_ESTADO == 'rechazado'" (click)='editarAprobar(mej.MEJ_ID)'> A </BUTTON>
                                </TD>
                                <TD>
                                    <BUTTON class="btn btn-danger" style="margin-left: 5px;" [disabled]="mej.MEJ_ESTADO == 'aprobada' || mej.MEJ_ESTADO == 'rechazado' "  (click)='editarRechazar(mej.MEJ_ID)' > R </BUTTON>
                                </TD>
                            </tr>
                            
                        </tbody>
                    </table>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-success" [routerLink]="['/prof']">Volver</button>
    </div>
</div>
