<br>
<div class="card border-warning mb-3" >
    <div class="card-header">
        CLIENTE
    </div>
    <div class="card-body text-Dark" >
        <h5 class="card-title">Responder mejora</h5>
                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr class="text-center">
                                <th>PROFESIONAL</th>
                                <th>DESCRIPCION</th>
                                <th>ESTADO</th>
                                <th>RESPUESTA</th>
                                <th colspan="2"  class="text-center">      CONTROLES</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let mej of mejoras" >
                                <td>{{mej.PRO_NOMBRE}}</td>
                                <td>{{mej.MEJ_DESCRIPCION}}</td>
                                <td>{{mej.MEJ_ESTADO}}</td>
                                <td>  <input type="text" name="respuesta" [(ngModel)]="mej.MEJ_RESP_CLI" [disabled]="mej.MEJ_ESTADO == 'enviada' || mej.MEJ_ESTADO == 'rechazado' || mej.MEJ_ESTADO == 'aprobada' " placeholder="Escribir respuesta">
                                </td>
            
                                <TD>
                                    <BUTTON class="botonCrear" style="margin-left: 5px;" [disabled]="mej.MEJ_ESTADO == 'enviada' || mej.MEJ_ESTADO == 'rechazado' || mej.MEJ_ESTADO == 'aprobada'" (click)='editarAprobar(mej.MEJ_ID,mej.MEJ_RESP_CLI)'> Aprobar </BUTTON>
                                </TD>
                                <TD>
                                    <BUTTON class="botonEditar" style="margin-left: 5px;" [disabled]="mej.MEJ_ESTADO == 'enviada' || mej.MEJ_ESTADO == 'rechazado' || mej.MEJ_ESTADO == 'rechazado' || mej.MEJ_ESTADO == 'aprobada'"  (click)='editarRechazar(mej.MEJ_ID)' > Rechazar </BUTTON>
                                </TD>
                            </tr>
                            
                        </tbody>
                    </table>

    </div>
    <div class="card-footer text-center">
        <button class="botonCrear btn btn-success" [routerLink]="['/prof']">Volver</button>
    </div>
</div>