<br>
<div class="card border-warning  mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Lista de clientes</h5>
        <div class="my-2 text-left">
            <button class="botonAdmin btn-warning" [routerLink]="[ '/clientes/form']">Crear cliente</button>
        </div>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID USUARIO</th>
                    <th>NOMBRE DE USUARIO</th>
                    <th>CORREO</th>
                    <th>NOMBRE COMPLETO</th>
                    <th>ESTADO</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.USR_ID }}</td>
                    <td>{{ usuario.USR_USERNAME }}</td>
                    <td>{{ usuario.USR_CORREO }}</td>
                    <td>{{ usuario.USR_NOMBRECOMPLETO }}</td>
                    
                    <ng-container *ngIf="usuario.USR_ESTADO == 1; else desabilitadotemplate">
                        <td>Habilitado</td>
                    </ng-container>
                    <ng-template #desabilitadotemplate>
                        <td>Deshabilitado</td>
                    </ng-template>
                    

                    <TD>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" (click)='editar(usuario.USR_ID)'> Editar </BUTTON>
                    </TD>
                    <TD>
                        <BUTTON class="botonEliminar" name="eliminar" (click)='delete(usuario)'> Eliminar </BUTTON>
                    </TD>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-outline-secondary" [routerLink]="['/administrador']">volver</button>
    </div>
</div>