<br>
<div class="card bg-aqua text-dark text-center col-sm-12">
    <div class="card-header"> Crear nuevo Cliente
        <div class="card-body text-center">


            <form>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_cliente" class="input-group-text">Rut</span>
                            </div>
                            <input type="text" class="form-control" name="rut_cliente" [(ngModel)]="cli.CLI_RUT" required>
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_cliente" class="input-group-text">Usuario</span>
                            </div>
                            <input type="text" class="form-control" name="username"[(ngModel)]="cli.USR_USERNAME" required>
                        </div>
                    </div>
                </div>
                <div class="form-group row">

                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="tipo_contrato" class="input-group-text">Tipo Contrato</span>
                            </div>
                            <select class="form-control" name="tipo_contrato" [(ngModel)]="cli.PLANES_PLA_IDPLAN">
                                        <option value="1">Standard</option>
                                    </select>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_cliente" class="input-group-text">Nombre</span>
                            </div>
                            <input type="text" class="form-control" name="Nombre"[(ngModel)]="cli.USR_NOMBRECOMPLETO">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_cliente" class="input-group-text">Razón Social</span>
                            </div>
                            <input type="text" class="form-control" name="razon_social"[(ngModel)]="cli.CLI_RAZONSOCIAL">
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_cliente" class="input-group-text">E-Mail</span>
                            </div>
                            <input type="text" class="form-control" name="mail_usuario"[(ngModel)]="cli.USR_CORREO">
                        </div>
                    </div>


                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="nombre_profesional" class="input-group-text">Nueva contraseña</span>
                            </div>
                            <input type="password" class="form-control" name="user_password_prof">
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="user_email_profesional" class="input-group-text">Confirmar contraseña</span>
                            </div>
                            <input type="password" class="form-control" name="user_password_prof" [(ngModel)]="cli.USR_PASSWORD">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="tipo_contrato" class="input-group-text">Status Cliente</span>
                            </div>
                            <div class="col-md-4">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="radio"  name="btn_status" value="disable"> Habilidato
                                    <input class="form-check-input" type="radio"  name="btn_status"  value="able" > Deshabilitado
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-sm-12">
                        <!-- <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id_cliente else esleBlock">Crear</button>
                        <ng-template #esleBlock>
                            <button class="btn btn-primary" role="button" (click)="update()">Editar</button>
                        </ng-template> -->
                        
                    </div>

                </div>

            </form>

            <button class="btn btn-outline-success" style="margin-left: 10%;" role="button" (click)="guardarCliente()">Guardar</button>
            <div class="my-2 text-left">
                <button class="btn btn-outline-success" style="margin-left: 10%;" role="button" [routerLink]="['/clientes']" >Volver</button>
            </div>  

        </div>

    </div>
</div>

    