<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control Administrador
        <h4><small><strong>Bienvenido {{ usuario }}</strong></small></h4>
    </div>
    <div class="card-body">
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="[ '/profesionales']">Mantener información profesional</button>
            <button class="botonAdmin btn btn-success" [routerLink]="[ '/clientes']">Mantener información cliente</button>
        </div>
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="['/visualizar-actividades']">Visualizar actividades</button>
            <button class="botonAdmin btn btn-success" [routerLink]="['/reporteGlobal']">Notificar atrasos</button>
        </div>
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="['/reporteClientes']">Generar reporte cliente</button>
            <button class="botonAdmin btn btn-success" [routerLink]="['/reporteGlobal']">Generar reporte global</button>

        </div>
        <div>
            <button class="botonAdmin btn btn-success" [routerLink]="['/controlar-pagos']">Controlar pagos</button>
        </div>

    </div>
    <div class="card-footer text-center">
        <button class="botonEliminar" (click)="logout()">Salir</button>
    </div>
</div>