<br>
<div class="card text-center">
    <div class="card-header">
        Crear Nueva Asesoría
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <form>
                        <div class="form-row">
                            <div class="form-group col-sm-4">
                                <label for="my-in col-sm-6put">Fecha asesoria</label>
                                <input id="my-input" class="form-control" type="date" name="">
                            </div>
                            <div class="form-group col-sm-4">
                            <label for="">Seleccione Profesional</label>
                            <select class="form-control" name="" id="">
                                <option></option>
                                <option></option>
                                <option></option>
                            </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="">Seleccione Cliente</label>
                                <select class="form-control" name="" id="">
                                    <option></option>
                                    <option></option>
                                    <option></option>
                                </select>
                            </div> 
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-12">
                                <div class="form-group">
                                    <label for="my-select">Tipo de asesoría</label>
                                    <select id="my-select" class="form-control" name="">
                                        <option>Seleccione</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label for="">Asesorias disponibles</label>
                                <label class="form-control" for="my-input">Text</label>
                            </div>
                            <div class="form-group col-sm-6">
                                <label for="">Total asesorias</label>
                                <label class="form-control" for="my-input">Text</label>
                            </div>
                        </div>                       
                    </form>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary" [routerLink]="[ '/prof']">Volver</button>
    </div>
</div>