
<br>
<div class="card text-center">
    <div class="card-header">
        Crear Nueva Capacitación
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <form>
                        <div class="form-row">
                                <div class=" form-group col-sm-6">
                                    <label for="lbl_cliente">Rut Cliente</label>
                                    <input class="form-control" type="text" name="inp_cliente" id="rut_clte">
                                </div>
                                <div class=" form-group col-sm-6">
                                    <label for="lbl_cliente">Nombre del cliente</label>
                                    <label class="form-control lead"> Nombre del cliente </label>
                                </div>
                                
                        </div>

                        <div class="form-row">
                                
                                <div class=" form-group col-sm-6">
                                    <label for="lbl_cliente">Nombre del profesional</label>
                                    <label class="form-control lead"> Nombre del profesional </label>
                                </div>
                                
                                <div class="col-sm-2">
                                    
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="my-in col-sm-6put">Fecha</label>
                                    <input id="my-input" class="form-control" type="date" name="">
                                </div>
                                <div class="col-sm-2">
                                    
                                </div>
                                
                        </div>

                        <div class="row">
                                <div class="form-group col-sm-6">
                                    <label for="">Cantidad de Integrantes</label>
                                    <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
                                </div>
                                
                                <div class="form-group col-sm-6">
                                    <label for="my-textarea">Lista de materiales</label>
                                    <textarea id="my-textarea" class="form-control" name="" rows="3"></textarea>
                                </div>
                        </div>

                        <div class="row">
                            <div class=" form-group col-sm-12">
                                <button class="btn btn-success">Guardar</button>
                                
                            </div>
                        </div>
                       
                    </form>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-success" [routerLink]="[ '/prof']">Volver</button>
    </div>
</div>

