<br>
<div class="card bg-aqua text-dark text-center col-sm-12">
    <div class="card-header"> Crear nuevo Profesional
        <div class="card-body text-center">
            <form>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="rut_profesional" class="input-group-text">Rut</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.PRO_RUT" name="rut_profesional" >
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="fecha_cita" class="input-group-text">Fecha Ingreso</span>   
                                <input id="my-input" class="form-control" type="date" [(ngModel)]="pro.PRO_FINGRESO" name="fechaIngresp">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="nombre_profesional" class="input-group-text">Nombre Profesional</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.PRO_NOMBRE"  name="nombres_profesional">
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="nombre_profesional" class="input-group-text">Apellido Profesional</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.PRO_APELLIDO" name="ap_prof">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="nombre_profesional" class="input-group-text">Username</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.USR_USERNAME" name="user_prof">
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="user_email_profesional" class="input-group-text">Email</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.USR_CORREO" name="user_email_prof">
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="nombre_profesional" class="input-group-text">Nueva contraseña</span>
                            </div>
                            <input type="text" class="form-control" name="user_password_prof">
                        </div>
                    </div>
                    <div class="col-mb-4">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span for="user_email_profesional"  class="input-group-text">Confirmar contraseña</span>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="pro.USR_PASSWORD" name="user_password_prof">
                        </div>
                    </div>
                </div>
                    
            </form>


        </div>
        <button class="btn btn-outline-success" style="margin-left: 10%;" role="button" (click)="GuardarProfesional()" >Guardar</button>
        <div class="my-2 text-left">
            <button class="btn btn-outline-success" [routerLink]="['/administrador']">volver</button>
        </div>
    </div>

</div>