<br>
<div class="card border-warning mb-3">
    <div class="card-header">PROFESIONAL</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Capacitaciones</h5>
        

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr class="text-center">
                    <th>ID ASESORIA</th>
                    <th>CANTIDAD</th>
                    <th>DISPONIBLES</th>
                    <th>TIPO</th>
                    <TH>OBSERVACION</TH>
                    <th>FECHA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cap of capacitacion">
                    <td>{{cap.CAP_ID}}</td>
                    <td>{{cap.CAP_PARTICIPANTES}}</td>
                    <td>{{cap.CAP_MATERIALES}}</td>
                    <td>{{cap.CAP_ID_PRO}}</td>
                    <td>{{cap.CAP_ID_CLI}}</td>
                    <td>{{cap.CAP_FECHA | date: 'dd-MM-yyyy'}}</td>
                  
                </tr>
            </tbody>
        </table>
    </div>
        <div class="card-footer text-center">
            <button class="botonCrear btn btn-success" [routerLink]="['/vercapacitaciones']">volver</button>
        </div>
    
</div>