<br>
<div class="card text-center">
    <div class="card-header">
        CREAR CHECKLIST
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th>DESCRIPCION</th>
                                <th>ELIMINAR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td>CHECKLIST1</td>
                               
            
                                
                                <TD>
                                    <BUTTON class="btn btn-danger" name="eliminar" > x </BUTTON>
                                </TD>
                            </tr>
                            <tr>
                                <td> <input class="form-control" type="text"> </td>
                                
                                <td colspan="2"> <BUTTON class="btn btn-success" style="margin-left: 5px;"> Guardar </BUTTON> </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-dark" [routerLink]="['/prof']">Volver</button>
    </div>
</div>