<br>
<div class="card text-center">
    <div class="card-header">
        Crear Nueva CkeckList
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr>
                                <th>ID_ACCIDENTE</th>
                                <th>MEJORA</th>
                                <th>DESCRIPCION</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td></td>
                                <td></td>
                                <td></td>
            
                                <TD>
                                    <BUTTON class="btn btn-success" style="margin-left: 5px;"> Y </BUTTON>
                                </TD>
                                
                            </tr>
                            <tr>
                                <td> <div class="btn bg-success"> <label for="">Ingresar nuevo accidente</label> </div> </td>
                                <td> <input class="form-control" type="text"> </td>
                                <td> <input class="form-control" type="text"> </td>
                                
                                <td colspan="2"> <BUTTON class="btn btn-success" style="margin-left: 5px;"> Guardar </BUTTON> </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-success" [routerLink]="['/prof']">Volver</button>
    </div>
</div>