<br>
<div class="card text-center">
    <div class="card-header">
        RESPONDER CHECKLIST
    </div>
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <table class="table table-bordered table-striped" style="font-size: 12px">
                        <thead>
                            <tr>
                                
                                <th>DESCRIPCION</th>
                                
                                <th>CHECK</th>
                             
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let acc of ac" >
                                
                                <td>{{acc.ACC_DESCRIPCION}}</td>
                               
            
                                <TD>
                                  <!-- <BUTTON class="btn btn-success" style="margin-left: 5px;"(click)='editarAprobar()'> Y </BUTTON> -->
                               <input type="checkbox" [(ngModel)]="acc.ACC_CHECK" name="estado" (change)="toggleVisibility($event)">

                                </TD>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                    <BUTTON class="btn btn-success" style="margin-left: 5px;"(click)='generarInforme()'> Generar informe </BUTTON>

                </div>
        </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-success" [routerLink]="['/prof']">Volver</button>
    </div>
</div>
