.botonEditar {
    background-color: darkorange;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

.botonEditar:disabled{
    color:#fff;
    background-color:rgba(255, 140, 0, 0.432);
    border-color:orange
}


.botonCrear {
    background-color: darkgreen;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

.botonCrear:disabled{
    color:#fff;
    background-color:#28a74667;
    border-color:#28a745
}

.botonEliminar {
    background-color: red;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

.botonVolver {
    background-color: blue;
    color: white;
    padding: 2px 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 12px;
}

.botonAdmin {
    background-color: #686868;
    color: white;
    padding: 5px;
    height: 35px;
    width: 250px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
}

.botonAdminCrear {
    background-color: #095813;
    color: white;
    padding: 5px;
    height: 35px;
    width: 200px;
    margin-top: 5px;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 13px;
}