<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control Profesional
    </div>
    <div class="card-body">
        <div>
            <button class="botonAdmin" [routerLink]="[ '/crearcapacitacion']" >Crear capacitación</button>
            <button class="botonAdmin" [routerLink]="[ '/planificarvisita']" >Planificar visita</button>
        </div>
        <div>
            <button class="botonAdmin" [routerLink]="[ '/revisarcliente']" >Revisar cliente</button>
            <button class="botonAdmin">Crear caso de asesoría</button>
        </div>
        <div>
            <button class="botonAdmin">Ingresar actividad de mejora</button>
            <button class="botonAdmin">Ingresar asesoría</button>
        </div>
        <div>
            <button class="botonAdmin">Crear checkList</button>
            <button class="botonAdmin">Responder checkList</button>
        </div>
    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-primary" [routerLink]="[ '/home']">Volver</button>
    </div>
</div>