<br>
<div class="card border-primary mb-3">
    <div class="card-header">Profesionales</div>
    <div class="card-body text-primary">
        <h5 class="card-title">Lista de Profesionales</h5>
        <div class="my-2 text-left">
            <button class="botonAdminCrear" [routerLink]="[ '/profesionales/form-prof']">Crear nuevo profesional</button>
        </div>

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr>
                    <th>ID_PROFESIONAL</th>
                    <th>RUT_PROFESIONAL</th>
                    <th>DV_PROFESIONAL</th>
                    <th>NOMBRE_PROFESIONAL</th>
                    <th>APELLIDO PATERNO</th>
                    <th>APELLIDO MATERNO</th>
                    <TH>FECHA DE INGRESO</TH>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Profesional of profesionales">
                    <td>{{ Profesional.id_profesional }}</td>
                    <td>{{ Profesional.rut_profesional }}</td>
                    <td>{{ Profesional.dv_rut_profesional }}</td>
                    <td>{{ Profesional.nombres_profesional }}</td>
                    <td>{{ Profesional.ap_paterno_prof}}</td>
                    <td>{{ Profesional.ap_materno_prof }}</td>
                    <td>{{ Profesional.fec_ingreso_prof }}</td>

                    <TD>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/profesionales/form-prof', Profesional.id_profesional]"> Editar </BUTTON>
                    </TD>
                    <TD>
                        <BUTTON class="botonEliminar" name="eliminar" (click)='delete(Profesional)'> Eliminar </BUTTON>
                    </TD>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" [routerLink]="['/administrador']">volver</button>
    </div>
</div>