<br>
<div class="card border-warning mb-3">
    <div class="card-header">PROFESIONAL</div>
    <div class="card-body text-Dark">
        <h5 class="card-title">Solicitudes de capacitacion</h5>
        

        <table class="table table-bordered table-striped" style="font-size: 12px">
            <thead>
                <tr class="text-center">
                    <th>ID SOLICITUD</th>
                    <th>TIPO DE SOLICITUD</th>
                    <th>CLIENTE</th>
                    <th>INTEGRANTES</th>
                    <th>FECHA</th>
                    <th>MATERIAL</th>
                    <th colspan="2" >CONTROLES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cap of solicitud">
                    <td>{{cap.SOL_ID}}                    </td>
                    <td>{{cap.SOL_TIPO}}</td>
                    <td>{{cap.CLI_RAZONSOCIAL}}</td>
                    <td>{{cap.SOL_DESCRIPCION}}</td>
                    <td>{{cap.SOL_FECHA | date: 'dd-MM-yyyy'}}</td>
                    <TD><textarea id="my-textarea" class="form-control"   name="descripcionMaterial" rows="3"></textarea></TD>
                    <td>
                         <BUTTON class="botonCrear" style="margin-left: 5px;" > Aprobar </BUTTON> 
                    </td>

                    <td>
                        <BUTTON class="botonEditar" style="margin-left: 5px;" > Rechazar </BUTTON> 
                    </td>
                </tr>
            </tbody>
        </table>
        <label class="h4">Listado de capacitaciones: </label>
        <BUTTON class="botonEditar" style="margin-left: 5px;" [routerLink]="['/listarcapacitaciones']"> Ver </BUTTON>

    </div>
        <div class="card-footer text-center">
            <button class="botonCrear btn-success" [routerLink]="['/administrador']">volver</button>
        </div>
    
</div>
