<br>
<div class="card text-center">
    <div class="card-header">
        Panel de control cliente
    </div>
    <div class="card-body">
        <div>
            <button class="botonAdmin" [routerLink]="['/reportaraccidente']" >Reportar accidente</button>
            <button class="botonAdmin" [routerLink]="['/solicitarasesoria']" >Solicitar asesoría especial</button>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-outline-success" [routerLink]="[ '/home']">Salir</button>
        </div>
    </div>