<br>
<div class="card text-center">
    <div class="card-header">
        Crear Nueva Visita
    </div>
    <div class="card-body text-center">
        
        <div class="card bg-aqua text-dark text-center col-sm-12">
    
                <div class="card-body text-center">

                    <form>
                        <div class="form-row">
                            
                            <div class="form-group col-sm-4">
                            <label for="">Profesional</label>
                                <label class="form-control">{{params.id}}</label>
                            
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="">Seleccione Cliente</label>
                                <select class="form-control" name="clientes" >
                                    <option *ngFor="let cli of clientes" value="{{cli.USR_IDPERFIL}}">{{cli.USR_NOMBRECOMPLETO}}</option>
                                </select>
                            </div> 
                        </div>  
                        <div class="row">
                            <div class=" form-group col-sm-12">
                                <button class="btn btn-success" (click)="guardar()" >Guardar</button>
                                <button class="btn btn-success">Consultar</button>
                                
                            </div>
                        </div>                     
                    </form>

                </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button class="btn btn-outline-success" [routerLink]="['/profesionales']">Volver</button>
    </div>
</div>
